@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #f8f9fa;
}


























/* color theme   */

/* black (1E201E) */
/* dark gray (3C3D37) */
/* light gray(697565)  */
/* light color (ECDFCC)  */



/* black */
.black-bg{
background-color: #7749f8;
}

.black-color{
  color: #7749f8 ;
}



/* dark gray  */

.d-gray-bg{
  background-color: ;
}

d-gray-color{
 color: ; 
}




/* light gray  */
.l-gray-bg{
  background-color: #f8f9fa;
}

l-gray-color{
  color: #f8f9fa;
}


/* light  */

.l-bg{
  background-color: #ffffff;

}

.l-color{
 color: #ffffff;

}






